:root {
  /* Button size variables */
  --btn-pad-xs-x: 0.5rem;
  --btn-pad-xs-y: 0.25rem;
  --btn-font-size-xs: 0.875rem;
  --btn-font-size-sm: 0.875rem;
  --btn-font-size-md: 1rem;
  --btn-font-size-lg: 1.25rem;
  --btn-pad-sm-x: 0.625rem;
  --btn-pad-sm-y: 0.3125rem;
  --btn-pad-md-x: 0.75rem;
  --btn-pad-md-y: 0.375rem;
  --btn-pad-lg-x: 1rem;
  --btn-pad-lg-y: 0.5rem;
  --btn-border-radius-xs: 0.25rem;
  --btn-border-radius-sm: 0.3rem;
  --btn-border-radius-md: 0.375rem;
  --btn-border-radius-lg: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:focus-visible {
  outline: 0;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-success {
  color: #18bc9c;
  background-color: transparent;
  border: 1px solid #18bc9c;
}

.btn-success:hover {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:focus-visible {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
  box-shadow: 0 0 0 0.25rem rgba(24, 188, 156, 0.5);
}

.btn-success:active,
.btn-success.active,
.btn-success.show {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:active:focus-visible,
.btn-success.active:focus-visible,
.btn-success.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(24, 188, 156, 0.5);
}

.btn-success:disabled,
.btn-success.disabled,
fieldset:disabled .btn-success {
  color: #18bc9c;
  background-color: transparent;
  border-color: #18bc9c;
}

.btn-warn {
  color: #f39c12;
  background-color: transparent;
  border: 1px solid #f39c12;
}

.btn-warn:hover {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-warn:focus-visible {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
  box-shadow: 0 0 0 0.25rem rgba(243, 156, 18, 0.5);
}

.btn-warn:active,
.btn-warn.active,
.btn-warn.show {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-warn:active:focus-visible,
.btn-warn.active:focus-visible,
.btn-warn.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(243, 156, 18, 0.5);
}

.btn-warn:disabled,
.btn-warn.disabled,
fieldset:disabled .btn-warn {
  color: #f39c12;
  background-color: transparent;
  border-color: #f39c12;
}

.btn-danger {
  color: #e74c3c;
  background-color: transparent;
  border: 1px solid #e74c3c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:focus-visible {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: 0 0 0 0.25rem rgba(231, 76, 60, 0.5);
}

.btn-danger:active,
.btn-danger.active,
.btn-danger.show {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:active:focus-visible,
.btn-danger.active:focus-visible,
.btn-danger.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(231, 76, 60, 0.5);
}

.btn-danger:disabled,
.btn-danger.disabled,
fieldset:disabled .btn-danger {
  color: #e74c3c;
  background-color: transparent;
  border-color: #e74c3c;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem;
  aspect-ratio: 1;
  border-radius: 0.3rem;
}

.btn-icon.btn-success {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-icon.btn-success:hover {
  background-color: #14a085;
  border-color: #13967d;
}

.btn-icon.btn-success:focus-visible {
  background-color: #14a085;
  border-color: #13967d;
}

.btn-icon.btn-success:active,
.btn-icon.btn-success.active,
.btn-icon.btn-success.show {
  background-color: #13967d;
  border-color: #128d75;
}

.btn-icon.btn-warn {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-icon.btn-warn:hover {
  background-color: #cf850f;
  border-color: #c27d0e;
}

.btn-icon.btn-warn:focus-visible {
  background-color: #cf850f;
  border-color: #c27d0e;
}

.btn-icon.btn-warn:active,
.btn-icon.btn-warn.active,
.btn-icon.btn-warn.show {
  background-color: #c27d0e;
  border-color: #b6750e;
}

.btn-icon.btn-danger {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-icon.btn-danger:hover {
  background-color: #c44133;
  border-color: #b93d30;
}

.btn-icon.btn-danger:focus-visible {
  background-color: #c44133;
  border-color: #b93d30;
}

.btn-icon.btn-danger:active,
.btn-icon.btn-danger.active,
.btn-icon.btn-danger.show {
  background-color: #b93d30;
  border-color: #ad392d;
}

.btn-icon.btn-xs {
  padding: 0.25rem;
}

.btn-icon.btn-sm {
  padding: 0.3125rem;
}

.btn-icon.btn-md {
  padding: 0.375rem;
}

.btn-icon.btn-lg {
  padding: 0.5rem;
}

.btn-link {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-link {
    transition: none;
  }
}

.btn-link:focus-visible {
  outline: 0;
  text-decoration: none;
}

.btn-link:disabled,
.btn-link.disabled,
fieldset:disabled .btn-link {
  pointer-events: none;
  opacity: 0.65;
}

.btn-link.btn-success {
  color: #18bc9c;
  border-color: #18bc9c;
}

.btn-link.btn-success:hover {
  color: #14a085;
  background-color: transparent;
  border-color: #14a085;
  text-decoration: none;
}

.btn-link.btn-success:focus-visible {
  color: #14a085;
  background-color: transparent;
  border-color: #14a085;
}

.btn-link.btn-success:active,
.btn-link.btn-success.active,
.btn-link.btn-success.show {
  color: #13967d;
  background-color: transparent;
  border-color: #13967d;
}

.btn-link.btn-warn {
  color: #f39c12;
  border-color: #f39c12;
}

.btn-link.btn-warn:hover {
  color: #cf850f;
  background-color: transparent;
  border-color: #cf850f;
  text-decoration: none;
}

.btn-link.btn-warn:focus-visible {
  color: #cf850f;
  background-color: transparent;
  border-color: #cf850f;
}

.btn-link.btn-warn:active,
.btn-link.btn-warn.active,
.btn-link.btn-warn.show {
  color: #c27d0e;
  background-color: transparent;
  border-color: #c27d0e;
}

.btn-link.btn-danger {
  color: #e74c3c;
  border-color: #e74c3c;
}

.btn-link.btn-danger:hover {
  color: #c44133;
  background-color: transparent;
  border-color: #c44133;
  text-decoration: none;
}

.btn-link.btn-danger:focus-visible {
  color: #c44133;
  background-color: transparent;
  border-color: #c44133;
}

.btn-link.btn-danger:active,
.btn-link.btn-danger.active,
.btn-link.btn-danger.show {
  color: #b93d30;
  background-color: transparent;
  border-color: #b93d30;
}

.btn-xs {
  padding: var(--btn-pad-xs-y) var(--btn-pad-xs-x);
  font-size: var(--btn-font-size-xs);
  border-radius: var(--btn-border-radius-xs);
}
.btn-sm {
  padding: var(--btn-pad-sm-y) var(--btn-pad-sm-x);
  font-size: var(--btn-font-size-sm);
  border-radius: var(--btn-border-radius-sm);
}
.btn-md {
  padding: var(--btn-pad-md-y) var(--btn-pad-md-x);
  font-size: var(--btn-font-size-md);
  border-radius: var(--btn-border-radius-md);
}
.btn-lg {
  padding: var(--btn-pad-lg-y) var(--btn-pad-lg-x);
  font-size: var(--btn-font-size-lg);
  border-radius: var(--btn-border-radius-lg);
}
