.btn-success {
  /* Layout */
  display: inline-block;
  padding: 0.375rem 0.75rem;
  
  /* Typography */
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  
  /* Visual */
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.375rem;
  
  /* User interaction */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  /* Transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  /* Base colors */
  color: #18bc9c;
  background-color: transparent;
  border: 1px solid #18bc9c;
}

@media (prefers-reduced-motion: reduce) {
  .btn-success {
    transition: none;
  }
}

.btn-success:hover {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:focus-visible {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(24, 188, 156, 0.5);
}

.btn-success:active,
.btn-success.active,
.btn-success.show {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:active:focus-visible,
.btn-success.active:focus-visible,
.btn-success.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(24, 188, 156, 0.5);
}

.btn-success:disabled,
.btn-success.disabled,
fieldset:disabled .btn-success {
  color: #18bc9c;
  background-color: transparent;
  border-color: #18bc9c;
  pointer-events: none;
  opacity: 0.65;
}
