.component {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 2rem;
  border-radius: 0.375rem;
  padding-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.btn {
  border: 1px solid black;
  border-radius: 0.375rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  cursor: pointer;
  white-space: nowrap;
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-weight: 500; */
}
.btnIcon {
  border-radius: 0.125rem;
  padding: 0.25rem;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  line-height: 1;
}
.btnPrimary {
  background-color: var(--primary-blue);
  color: var(--white);
}
.btnPrimary:hover {
  background: var(--blue-dark, #0284C7);
  color: #fff;
}

.btnSafe {
  background-color: var(--safe);
  color: var(--white);
}
.btnSafe:hover {
  background: var(--green-dark, #059669);
  color: #fff;
}
.btnWarning {
  background-color: var(--warning);
  color: var(--white);
}
.btnWarning:hover {
  background: var(--yellow-dark, #D97706);
  color: #fff;
}
.btnDanger {
  background-color: var(--danger);
  color: var(--white);
}
.btnDanger:hover {
  background: var(--red-dark, #B91C1C);
  color: #fff;
}