.btn-success-fill {
  /* Base .btn styles */
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  --btn-font-family: ;
  --btn-font-size: 1rem;
  --btn-font-weight: 400;
  --btn-line-height: 1.5;
  --btn-color: var(--bs-body-color);
  --btn-bg: transparent;
  --btn-border-width: var(--bs-border-width);
  --btn-border-color: transparent;
  --btn-border-radius: var(--bs-border-radius);
  --btn-hover-border-color: transparent;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  /* .btn-success specific styles */
  --btn-color: #fff;
  --btn-bg: #18bc9c;
  --btn-border-color: #18bc9c;
  --btn-hover-color: #fff;
  --btn-hover-bg: #14a085;
  --btn-hover-border-color: #13967d;
  --btn-focus-shadow-rgb: 59, 198, 171;
  --btn-active-color: #fff;
  --btn-active-bg: #13967d;
  --btn-active-border-color: #128d75;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #fff;
  --btn-disabled-bg: #18bc9c;
  --btn-disabled-border-color: #18bc9c;
}

@media (prefers-reduced-motion: reduce) {
  .btn-success-fill {
    transition: none;
  }
}

.btn-success-fill:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.btn-success-fill:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  outline: 0;
  box-shadow: var(--btn-focus-box-shadow);
}

.btn-success-fill:active,
.btn-success-fill.active,
.btn-success-fill.show {
  color: var(--btn-active-color);
  background-color: var(--btn-active-bg);
  border-color: var(--btn-active-border-color);
}

.btn-success-fill:active:focus-visible,
.btn-success-fill.active:focus-visible,
.btn-success-fill.show:focus-visible {
  box-shadow: var(--btn-focus-box-shadow);
}

.btn-success-fill:disabled,
.btn-success-fill.disabled,
fieldset:disabled .btn-success-fill {
  color: var(--btn-disabled-color);
  pointer-events: none;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
  opacity: var(--btn-disabled-opacity);
}

.btn-success-outline {
  /* Base .btn-new styles */
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  /* .btn-new-success specific styles */
  color: #18bc9c;
  background-color: transparent;
  border: 1px solid #18bc9c;
}

@media (prefers-reduced-motion: reduce) {
  .btn-success-outline {
    transition: none;
  }
}

.btn-success-outline:hover {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success-outline:focus-visible {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(24, 188, 156, 0.5);
}

.btn-success-outline:active,
.btn-success-outline.active,
.btn-success-outline.show {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success-outline:active:focus-visible,
.btn-success-outline.active:focus-visible,
.btn-success-outline.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(24, 188, 156, 0.5);
}

.btn-success-outline:disabled,
.btn-success-outline.disabled,
fieldset:disabled .btn-success-outline {
  color: #18bc9c;
  background-color: transparent;
  border-color: #18bc9c;
  pointer-events: none;
  opacity: 0.65;
}
