.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #2f5d90);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}
